body {background-color:#ECEEF1;}
#navbar {
    font-family: AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    color: #505050;
    font-size: 12px;
    text-align: right;
    float: none;
    padding: 10px 30px;
    background: #eceef1;
    height: 60px;
}
#menu {
    float: right;
}
#navbar-left {
    float: left;
}
#navbar-right {
    float: right;
    margin-left: 10px;
}
#sign-in-account {
    background: #0077C5;
    border: #0077C5;
    border-radius: 4px;
    width: 100px;
    text-shadow: none;
    font-weight: 400;
    color: #FFF;
    font-size: 14px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.75);
    display: inline-block;
    padding: 6px 12px;
    line-height: 1.428571429;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
}
#main {
    font-family: AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
}
#form-header {
    margin: auto;
    overflow: visible;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 318px;
}
#form-container{
    margin: auto;
    overflow: visible;
    padding: 30px;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 380px;
    background-color: #fff;
    border: 1px solid #c7c7c7;
}
#form-container-header1{
    color: #4C4C4C;
    line-height: 1.1;
    font-size: 24px;
    text-align: center;
}
#form-container-header2{
    color: #4C4C4C;
    line-height: 1.2;
    padding-top: 20px;
    text-align: center;
}
.subheader {
    font-size: 14px;
    font-weight: 300;
}
.more-link {
    font-size: 12px;
}
a {
    color: #0077C5;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
#disclaimer {
    padding: 5px 0;
    font-size: 10px;
    color: #444;
}
.label-style {
    font-family: AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    color: #404040;
    font-size: 14px;
    line-height: 25px;
    padding-bottom: 6px;
    display: block;
    margin-top: 30px;
}
.input-style {
    border: 1px solid #C1C5C8;
    border-radius: 3px;
    line-height: 1.3em;
    width: 316px;
    max-width: 320px;
    height: 34px;
}
#email-field, #phone-field, #password-field, #sign-up-button {
    margin: auto;
    padding: 0;
}
#sign-up-account {
    background: #0077C5;
    border: #0077C5;
    border-radius: 4px;
    width: 320px;
    height: 44px;
    margin-top: 30px;
    text-shadow: none;
    font-weight: 400;
    color: #FFF;
    font-size: 16px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.75);
    display: inline-block;
    padding: 6px 12px;
    line-height: 1.428571429;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
}
#text-disclaimer {
    font-style: italic;
    color: #757575;
    font-size: 12px;
    text-align: center;
    margin-top: 30px;
}
#recaptcha-container {
    text-align: center;
    line-height: 1.5;
    margin: 32px -30px -30px;
    padding: 16px;
    background-color: #ECEEF1;
}
#captcha-terms-of-use {
    font-size: 10px;
    color: #8d9096;
}
#footer {
    font-family: AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial sans-serif;
    font-size: 12px;
    text-align: center;
    margin-top: 30px;
    color: #505050;
}